@model SamStock.Web.Models.Pedal.PedalViewModelPedal
@{
    Layout = "../Shared/_Layout.cshtml";
}
@section head
{
    <link href="@Url.Content("~/Content/styles/Pedal/Create.css")" rel="stylesheet" type="text/css" />
}
@section navigation
{
    @Html.Partial("_Navigation")
}
@section body
{
    <h1>Create</h1>
    @using (Html.BeginForm("Create", "Pedal"))
    {
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new Dictionary<String,Object>{
            {"required",""},
            {"title","At least 1 character"}
        })
        <br />
        @Html.LabelFor(x => x.Price)
        @Html.TextBoxFor(x => x.Price, new Dictionary<String, Object>{
            {"pattern","[0-9]+[,[0-9]+]{0,1}"},
            {"title","A valid price"}
        })
        <br />
        @Html.LabelFor(x => x.Margin)
        @Html.TextBoxFor(x => x.Margin, new Dictionary<String, Object>{
            {"pattern","[[0-9]+[,[0-9]+]{0,1}]{0,1}"},
            {"title","A valid percentage or blank"}
        })
        <br />
        <button>Create</button>
    }       
}