@model dynamic
@{
    Layout = "../Shared/_Layout.cshtml";
}
@section head
{
    <link href="../../Content/styles/PedalDetails.css" rel="stylesheet" type="text/css" />
}
@section navigation
{
    @Html.Partial("_Navigation")
}
@section body
{
    <h1>@Model.List[0].Name</h1>
    <a class="button navigation" href="@Url.Action("Update", "Pedal", new { Model.List[0].Id })">Edit</a> <a class="button navigation" href="@Url.Action("Build", "Pedal", new { Model.List[0].Id })">Build</a>
    @{
        decimal costs = 0;
        decimal price = Model.List[0].Price;
        decimal margin = Model.List[0].Margin;
        decimal baseprice = Model.List[0].Margin + costs;
        decimal vat = (price - costs) * 21 / 100;
        decimal profit = Model.List[0].Price - costs - vat;

        foreach (var item in Model.List[0].List) {
            costs += item.Price * item.Count;
        }
    }
    <br />
    <br />
    <table class="priceInfo">
        <tbody>
            <tr class="info">
                <th>Costs</th>
                <td class="listProperty">€@costs.ToString("0.00")</td>
                <td class="listProperty">@((costs * 100 / price).ToString("0.00"))%</td>
            </tr>
            <tr class="info">
                <th>Margin</th>
                <td class="listProperty">€@margin.ToString("0.00")</td>
                <td class="listProperty">@((margin * 100 / price).ToString("0.00"))%</td>
            </tr>
            <tr class="info">
                <th>Minimum Price</th>
                <td class="listProperty">€@baseprice.ToString("0.00")</td>
                <td class="listProperty">@((baseprice * 100 / price).ToString("0.00"))%</td>
            </tr>
            <tr class="info">
                <th>Profit</th>
                <td class="listProperty">€@((profit).ToString("0.00"))</td>
                <td class="listProperty">@(((profit * 100) / price).ToString("0.00"))%</td>
            </tr>
            <tr class="info">
                <th>VAT</th>
                <td class="listProperty">€@((vat).ToString("0.00"))</td>
                <td class="listProperty">@((vat * 100 / price).ToString("0.00"))%</td>
            </tr>
            <tr class="info">
                <th>Price</th>
                <td class="listProperty">€@price.ToString("0.00")</td>
                <td class="listProperty">100%</td>
            </tr>
        </tbody>
    </table>
    <br />
    <a class="button navigation" href="@Url.Action("UpdateComponents","Pedal",new {Model.List[0].Id})">Edit Components</a>
    <br />
    <br />
    <table class="componentinfo">
        <tbody>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Number</th>
                <th>Unit Price</th>
                <th>Extended Price</th>
            </tr>
            @foreach (var item in Model.List[0].List) {
                <tr>
                    <td class="description">@item.Stocknr</td>
                    <td class="description">@item.Description</td>
                    <td class="detail">@item.Count</td>
                    <td class="detail">€@item.Price.ToString("0.00")</td>
                    <td class="detail">€@((item.Price * item.Count).ToString("0.00"))</td>
                </tr>
            }
        </tbody>
    </table>
}
