@model SamStock.Web.Models.Pedal.PedalViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
@section head
{
    <link href="@Url.Content("~/Content/styles/Pedal/Index.css")" rel="stylesheet" type="text/css" />
}
@section navigation
{
    @Html.Partial("_Navigation")
}
@section body
{
    <h1>Pedals</h1>
    <div id="pedalList">
        @foreach(var item in Model.List)
        {
            <div class="pedal">
                <a href="@Url.Action("Details", "Pedal", new {item.Id})">@item.Name</a>
            </div>
        }
    </div>
    <br />
    <a class="button navigation" href="@Url.Action("Create", "Pedal")">Create</a>
}
