@model SamStock.Web.Models.Pedal.PedalViewModelPedal
@{
    Layout = "../Shared/_Layout.cshtml";
}
@section head
{
    <link href="@Url.Content("~/Content/styles/Pedal/Update.css")" rel="stylesheet" type="text/css" />
}
@section navigation
{
    @Html.Partial("_Navigation")
}
@section body
{
    <h1>Edit</h1>
    @using (Html.BeginForm("Update", "Pedal"))
    {
        @Html.HiddenFor(x => x.Id)
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new Dictionary<String,Object>{
            {"required",""}
        })
        <br />
        @Html.LabelFor(x => x.Price)
        @Html.TextBoxFor(x => x.Price, new Dictionary<String, Object>{
            {"pattern","[0-9]+[,[0-9]+]{0,1}"},
            {"title","A valid price"}
        })
        <br />
        @Html.LabelFor(x => x.Margin)
        @Html.TextBoxFor(x => x.Margin, new Dictionary<String, Object>{
            {"pattern","[[0-9]+[,[0-9]+]{0,1}]{0,1}"},
            {"title","A valid percentage or blank"}
        })
        <br />
        <button>Update</button>
    }
    <br />
    <a class="button navigation" href="@Url.Action("Details","Pedal",new {Model.Id})">Back</a>
}