@model SamStock.Web.Models.Pedal.PedalUpdateComponentsViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
@section head
{
    <link href="@Url.Content("~/Content/styles/Pedal/UpdateComponents.css")" rel="stylesheet" type="text/css" />
}
@section navigation
{
    @Html.Partial("_Navigation")
}
@section body
{
    <h1>Edit Components</h1>
    <table>
        <tbody>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Amount</th>
                <th></th>
            </tr>
            <tr>
                @using (Html.BeginForm("UpdateComponents", "Pedal"))
                {
                    @Html.HiddenFor(x => x.Id)
                    <td>
                        @Html.TextBox("Stocknr", new Dictionary<String,Object>{
                            {"title","At least 1 letter, no spaces"},
                            {"pattern","[a-z|A-Z]+.+"}
                        })
                    </td>
                    <td></td>
                    <td>
                        @Html.TextBox("Quantity", new Dictionary<String,Object>{
                            {"title","A valid quantity"},
                            {"pattern","[\\-]{0,1}[0-9]+"}
                        }))
                    </td>
                    <td>
                        <button>Add</button>
                    </td>
                }
            </tr>
            @foreach (var item in Model.List) {
                <tr>
                    <td class="description">@item.Stocknr</td>
                    <td class="description">@item.Description</td>
                    <td class="detail">@item.Quantity</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <a class="button navigation" href="@Url.Action("Details","Pedal",new {Model.Id})">Back</a>