@model SamStock.Web.Models.Admin.AdminViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
@section head
{
    <link href="@Url.Content("~/Content/styles/Admin/Index.css")" rel="stylesheet" type="text/css" />
}
@section navigation
{
    @Html.Partial("_Navigation")
}
@section body
{
    <h1>Configuration</h1>
    @using (Html.BeginForm("SetConfig", "Admin"))
    {
        <fieldset>
            <legend>Financial</legend>
            <p>
                @Html.LabelFor(x => x.VAT)
                @Html.TextBoxFor(x => x.VAT, new Dictionary<String, Object>{
                    {"title","A valid percentage"},
                    {"pattern","[0-9]+[,[0-9]+]{0,1}"},
                    {"required",""}
                })
            </p>
            <p>
                @Html.LabelFor(x => x.DefaultPedalPriceMargin,"Default pedal price margin")
                @Html.TextBoxFor(x => x.DefaultPedalPriceMargin, new Dictionary<String, Object>{
                    {"title","A valid percentage"},
                    {"pattern","[0-9]+[,[0-9]+]{0,1}"},
                    {"required",""}
                })
            </p>
        </fieldset>
        <button>Update</button>
        <hr />
        <a href=@Url.Action("SearchByStocknr","Stock")>Modify Stock Components</a>
        <a href=@Url.Action("AddComponent", "Stock")>Add Stock Component</a>
    }
}
