@model SamStock.Web.Models.LeveranciersViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
@section head
{
    <link href="../../Content/styles/Stock.css" rel="stylesheet" type="text/css" />
}
@section navigation
{
    @Html.Partial("_Navigation")
}
@section body
{
    <h2>
        Suppliers</h2>
    <table>
        <tr>
            <th id="NaamHeader">
                Naam
            </th>
            <th id="AdresHeader">
                Adres
            </th>
            <th id="SiteHeader">
                Site
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>@item.Naam
                </td>
                <td>@item.Adres
                </td>
                <td>@item.Website
                </td>
                <td>
                </td>
            </tr>
        }
        <tr>
            @using (Html.BeginForm("AddLeverancier", "Admin"))
            {
                <td>
                    @Html.TextBox("Name")
                </td>
                <td>
                    @Html.TextBox("Address")
                </td>
                <td>
                    @Html.TextBox("Website")
                </td>
                <td>
                    <button id="toevoegenButton">Add</button>
                </td>
            }
        </tr>
    </table>
}
