@model SamStock.Web.Models.Supplier.SuppliersViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
@section head
{
    <link href="@Url.Content("~/Content/styles/Supplier/Index.css")" rel="stylesheet" type="text/css" />
}
@section navigation
{
    @Html.Partial("_Navigation")
}
@section body
{
    <h2>
        Suppliers</h2>
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Website
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>@item.Name
                </td>
                <td>@item.Address
                </td>
                <td>@item.Website
                </td>
                <td>
                </td>
            </tr>
        }
        <tr>
            @using (Html.BeginForm("AddSupplier", "Supplier"))
            {
                <td>
                    @Html.TextBox("Name")
                </td>
                <td>
                    @Html.TextBox("Address")
                </td>
                <td>
                    @Html.TextBox("Website")
                </td>
                <td>
                    <button>Add</button>
                </td>
            }
        </tr>
    </table>
}
