@using SamStock.Web._Util
@model SamStock.Web.Models.Stock.StockViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
@section head
{
    <link href="@Url.Content("~/Content/styles/Stock/Index.css")" rel="stylesheet" type="text/css" />
}
@section navigation
{
    @Html.Partial("_Navigation")
}
@section body
{
    <h1>Stock</h1>
    <div>
        @using (Html.BeginForm("Search", "Stock")) {
            <table>
                <tr>
                    <th>
                        ID
                    </th>
                    <td>
                        @Html.TextBox("ComponentTypeFilter", "", new Dictionary<String, Object>{
                            {"pattern","\\w{1,}"}
                        })
                    </td>
                    <td rowspan="3">
                        <button>Go</button>
                    </td>
                    <th>Total Stock Value</th>
                </tr>
                <tr>
                    <th>
                        Supplier
                    </th>
                    <td>@Html.DropDownList("SupplierFilter", Model.Suppliers.ToSelectList(true))
                    </td>
                    <td class="detail" rowspan="2">€@Model._contentTotalValue.ToString("0.00")</td>
                </tr>
                <tr>
                    <th>
                        Shortages
                    </th>
                    <td>@Html.CheckBox("MancoFilter")
                    </td>
                </tr>
            </table>
        }
    </div>
    <br />
    <table>
        <tr>
            <th>
                ID
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Minimum Stock
            </th>
            <th>
                Supplier
            </th>
            <th>
                Remarks
            </th>
            <th>
            </th>
        </tr>
        @using (Html.BeginForm("Update", "Stock"))
        {
            List<SamStock.Web.Models.Stock.StockViewModelItem> componentlist = Model.List.OrderBy(x => x.ItemCode).ToList();
            for (int i = 0; i < componentlist.Count; i++)
            {
                var item = componentlist[i];
                <tr>
                    <td class="description">@item.Stocknr</td>
                    <td class="description">@item.Name</td>
                    <td class="detail">@item.Price.ToString("0.00")
                    </td>
                    <td class="detail">@item.Quantity
                    </td>
                    <td class="detail">@item.MinimumStock
                    </td>
                    <td class="description">@item.SupplierName
                    </td>
                    <td class="description">@item.Remarks
                    </td>
                    <td>
                        @Html.HiddenFor(x => x.List[i].Stocknr)
                        @Html.TextBoxFor(x => x.List[i].Price, new Dictionary<String, Object>{
                            {"size",(int)8},
                            {"pattern","[0-9]+[,[0-9]+]{0,1}"},
                            {"title","A valid price"},
                            {"class","updateStockInput"}
                        })
                        <!--  @Html.TextBoxFor(x => x.List[i].Quantity, new Dictionary<String, Object>{
                            {"size",(int)8},
                            {"value",(int)0},
                            {"pattern","[\\-]{0,1}[0-9]+"},
                            {"title","A valid quantity"},
                            {"class","updateStockInput"}
                        })  -->
                        <input type="text" class="updateStockInput" title="A valid quantity" pattern="[\-]{0,1}[0-9]+" size="8" value="0" name="@("List[" + i.ToString("0") + "].Amount")"/>
                    </td>
                </tr>
            }
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <button>Update stock</button>
                </td>
            </tr>
        }
    </table>
}
