@using SamStock.Web._Util
@model SamStock.Web.Models.StockViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
@section head
{
    <link href="@Url.Content("~/Content/styles/Stock.css")" rel="stylesheet" type="text/css" />
}
@section navigation
{
    @Html.Partial("_Navigation")
}
@section body
{
    <h2>Stock</h2>
    <div id="stockfilterfields">
        @using (Html.BeginForm("Search", "Stock"))
        {
            <table>
                <tr>
                    <th>
                        Stocknr
                    </th>
                    <td>@Html.TextBox("ComponentTypeFilter")
                    </td>
                    <td rowspan="3">
                        <button>
                            Go</button>
                    </td>
                    <th>Total Stock Value</th>
                </tr>
                <tr>
                    <th>
                        Supplier
                    </th>
                    <td>@Html.DropDownList("LeverancierFilter", Model.Leveranciers.ToSelectList(true))
                    </td>
                    <td id="totalStockValue" rowspan="2">€@Model._contentTotalValue.ToString("0.00")</td>
                </tr>
                <tr>
                    <th>
                        Manco only
                    </th>
                    <td>@Html.CheckBox("MancoFilter")
                    </td>
                </tr>
            </table>
        }
    </div>
    <br />
    <table>
        <tr>
            <th id="StocknrHeader">
                Stocknr
            </th>
            <th id="NaamHeader">
                Name
            </th>
            <th id="PrijsHeader">
                Price
            </th>
            <th id="HoeveelheidHeader">
                Quantity
            </th>
            <th id="MinimumStockHeader">
                Minimum stock
            </th>
            <th id="LeverancierHeader">
                Supplier
            </th>
            <th id="OpmerkingenHeader">
                Remarks
            </th>
            <th id="Toevoegenheader">
            </th>
        </tr>
        <tr>
            @using (Html.BeginForm("ComponentToevoegen", "Stock"))
            {
                <td>
                    @Html.TextBox("Stocknr")
                </td>
                <td>
                    @Html.TextBox("Naam")
                </td>
                <td>
                    @Html.TextBox("Prijs")
                </td>
                <td>
                    @Html.TextBox("Hoeveelheid")
                </td>
                <td>
                    @Html.TextBox("MinimumStock")
                </td>
                <td>
                    @Html.DropDownList("LeverancierId", Model.Leveranciers.Select(x => new SelectListItem { Text = x.Name, Value = x.Id.ToString("0") }))
                </td>
                <td>
                    @Html.TextBox("Opmerkingen")
                </td>
                <td>
                    <button id="toevoegenButton">
                        Add component</button>
                </td>
            }
        </tr>
        @using (Html.BeginForm("Update", "Stock"))
        {
            for (var i = 0; i < Model.List.Count; i++)
            {
                var item = Model.List[i];
            <tr>
                <td>@item.Stocknr
                </td>
                <td>@item.Naam
                </td>
                <td>@item.Prijs.ToString("0.00")
                </td>
                <td>@item.Hoeveelheid
                </td>
                <td>@item.MinimumStock
                </td>
                <td>@item.LeverancierNaam
                </td>
                <td>@item.Opmerkingen
                </td>
                <td class="update-stock">
                    @Html.HiddenFor(x => x.List[i].Stocknr)
                    @Html.TextBoxFor(x => x.List[i].Prijs)
                    <input type="number" value="0" name="@("List[" + i.ToString("0") + "].Amount")"/>
                </td>
            </tr>
            }
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <button id="updateButton">
                        Update stock</button>
                </td>
            </tr>
        }
    </table>
}
