@using SamStock.Web._Util
@model SamStock.Web.Models.StockViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
@section head
{
    <link href="@Url.Content("~/Content/styles/Stock.css")" rel="stylesheet" type="text/css" />
}
@section navigation
{
    @Html.Partial("_Navigation")
}
@section body
{
    <h1>Stock</h1>
    <div>
        @using (Html.BeginForm("Search", "Stock"))
        {
            <table>
                <tr>
                    <th>
                        ID
                    </th>
                    <td>
                        <input name="ComponentTypeFilter" type="text" title="A letter followed by at least 1 more character, no spaces" pattern="[[a-z|A-Z]+]*" />
                    </td>
                    <td rowspan="3">
                        <button>Go</button>
                    </td>
                    <th>Total Stock Value</th>
                </tr>
                <tr>
                    <th>
                        Supplier
                    </th>
                    <td>@Html.DropDownList("LeverancierFilter", Model.Leveranciers.ToSelectList(true))
                    </td>
                    <td rowspan="2">€@Model._contentTotalValue.ToString("0.00")</td>
                </tr>
                <tr>
                    <th>
                        Shortage
                    </th>
                    <td>@Html.CheckBox("MancoFilter")
                    </td>
                </tr>
            </table>
        }
    </div>
    <br />
    <table>
        <tr>
            <th>
                ID
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Minimum Stock
            </th>
            <th>
                Supplier
            </th>
            <th>
                Remarks
            </th>
            <th>
            </th>
        </tr>
        <tr>
            @using (Html.BeginForm("ComponentToevoegen", "Stock"))
            {
                <td>
                    @Html.TextBox("Stocknr")
                </td>
                <td>
                    @Html.TextBox("Naam")
                </td>
                <td>
                    @Html.TextBox("Prijs")
                </td>
                <td>
                    @Html.TextBox("Hoeveelheid")
                </td>
                <td>
                    @Html.TextBox("MinimumStock")
                </td>
                <td>
                    @Html.DropDownList("LeverancierId", Model.Leveranciers.Select(x => new SelectListItem { Text = x.Name, Value = x.Id.ToString("0") }))
                </td>
                <td>
                    @Html.TextBox("Opmerkingen")
                </td>
                <td>
                    <button>Add Component</button>
                </td>
            }
        </tr>
        @using (Html.BeginForm("Update", "Stock"))
        {
            for (var i = 0; i < Model.List.Count; i++)
            {
                var item = Model.List[i];
            <tr>
                <td class="description">@item.Stocknr
                </td>
                <td class="description">@item.Naam
                </td>
                <td class="detail">@item.Prijs.ToString("0.00")
                </td>
                <td class="detail">@item.Hoeveelheid
                </td>
                <td class="detail">@item.MinimumStock
                </td>
                <td class="description">@item.LeverancierNaam
                </td>
                <td class="description">@item.Opmerkingen
                </td>
                <td>
                    @Html.HiddenFor(x => x.List[i].Stocknr)
                    @Html.TextBoxFor(x => x.List[i].Prijs)
                    <input type="number" value="0" name="@("List[" + i.ToString("0") + "].Amount")"/>
                </td>
            </tr>
            }
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <button>Update stock</button>
                </td>
            </tr>
        }
    </table>
}
