@using SAMStock.Web._Util
@model SAMStock.Web.Models.Stock.StockModifyComponentViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
@section head
{
    <link href="@Url.Content("~/Content/styles/Stock/ModifyComponent.css")" rel="stylesheet" type="text/css" />
}
@section navigation
{
    @Html.Partial("_Navigation")
}
@section body
{
    <h1>Modify Component</h1>
        @using (Html.BeginForm("ModifyComponent","Stock")) {
            <table>
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Stocknr ("ID")</th>
                        <th>Name</th>
                        <th>Item Code</th>
                        <th>Stock</th>
                        <th>Minimum Stock</th>
                        <th>Price</th>
                        <th>Remarks</th>
                        <th>Delete?</th>
                        <th></th>
                    </tr>
                    <tr>
                        @Html.HiddenFor(x => x.SupplierName)
                        @Html.HiddenFor(x => x.Id)
                        <td>@Model.Id</td>
                        <td>
                            @Html.TextBoxFor(x => x.Stocknr)
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.Name)
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.ItemCode)
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.Quantity)
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.MinimumStock)
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.Price)
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.Remarks)
                        </td>
                        <td>
                            @Html.CheckBoxFor(x => x.DeleteOption)
                        </td>
                        <td>
                            <button>Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        }