@model dynamic

<a class="button navigation" href="@Url.Action("Index","Admin")">Admin</a>
<a class="button navigation" href="@Url.Action("Index","Stock")">Stock</a>
<a class="button navigation" href="@Url.Action("Index","Pedal")">Pedals</a>
<a class="button navigation" href="@Url.Action("Index","Order")">Orders</a>
<a class="button navigation" href="@Url.Action("Index","Supplier")">Suppliers</a>
<hr />