@model dynamic

<a class="button" href="@Url.Action("Index","Dashboard")">Dashboard</a>

<a class="button" href="@Url.Action("Index","Stock")">Stock</a>
<a class="button" href="@Url.Action("Index","Pedal")">Pedals</a>
<a class="button" href="@Url.Action("Index","Order")">Orders</a>
<a class="button">Customers</a>
<a class="button">Expenses</a>
<a class="button">Logbook</a>
<a class="button">Repairs</a>
<!-- a class="button" href="@Url.Action("Index","Admin")">Admin</a -->
<a class="button" href="@Url.Action("Suppliers","Admin")">Suppliers</a>